<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Hybrid Harmony</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.glyphs.HybridHarmony</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hybrid Harmony</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026, derived from Green Harmony by Alex Slobzheninov and Grey Harmony by Rainer Erich Scheichelbauer</string>
	<key>NSPrincipalClass</key>
	<string>HybridHarmony</string>
	<key>ProductName</key>
	<string>Hybrid Harmony</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
	<key>UpdateFeedURL</key>
	<string></string>
</dict>
</plist>
